.navbar-static-top + .jumbotron {
	margin-top: -20px;
}

.navbar img {
	max-height: 20px;
}

body > section {
	background-size: cover;
	background-position: center;
}

img.pull-right {
	margin: 0 0 1em 1em;
}

img.pull-left {
	margin: 0 1em 1em 0;
}
.avatar {
	max-width: 8em;
}

#about-me {
	padding: 30px 0;
	background-color: #ffcd36;
	margin-top: -30px;
}

#about-me section::after{
	content: '';
	display: table;
	clear: both;
}
#about-me section::nth-child(odd) {
	text-align: right;
}