/*
 |----------------------------------------------------------------------------------------
 | STYLE.CSS
 |----------------------------------------------------------------------------------------
 |
 | By duccuongict
 |
 */
 body {
 	margin: 0;
 }

 .main {
 	max-width: 600px;
 	margin: 0 auto;
 }

* {
 	-webkit-box-sizing: border-box;
 	   -moz-box-sizing: border-box; 	
 	  		box-sizing: border-box; 
}

 .simple {
 	width: 500px;
 	margin: 20px auto;
 	border: solid #6ac5ac 1px;
 }

 .fancy {
 	width: 500px;
 	margin: 20px auto;
 	padding: 50px;
 	border: solid #6ac5ac 10px;
 }

 .static {
 	position: static;
 	border: solid #6ac5ac 3px;
 }
 
 .fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 200px;
	background-color: white;
	border: solid #6ac5ac 3px;
	padding: 3px;
 }

 .relative {
	position: relative;
	width: 600px;
	height: 400px;
	border: solid #6ac5ac 3px;
 }

 .absolute {
 	position: absolute;
 	top: 120px;
 	right: 0;
 	width: 300px;
 	height: 200px;
 	border: solid #D64078 3px;
 }

 code {
 	background-color: #6ac5ac;
 }

